[Desktop Entry]
Name=That Rabbit Game 2
Comment=That Rabbit Game 2
Exec=trg2
Icon=account-tester.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true

